

<div class="grid-container">
<div class="top-row left-col grid-item" id="item1">
  <form action"/ttt" method="post">
    <input type="hidden" name="A1" value="X">
    <input type="submit" value="<%= @A1 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item top-row mid-col" id="item2">
  <form action"/ttt" method="post">
    <input type="hidden" name="B1" value="X">
    <input type="submit" value="<%= @B1 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item top-row right-col" id="item3">
  <form action"/ttt" method="post">
    <input type="hidden" name="C1" value="X">
    <input type="submit" value="<%= @C1 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item mid-row left-col" id="item4">
  <form action"/ttt" method="post">
    <input type="hidden" name="A2" value="X">
    <input type="submit" value="<%= @A2 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item mid-row mid-col" id="item5">
  <form action"/ttt" method="post">
    <input type="hidden" name="B2" value="X">
    <input type="submit" value="<%= @B2 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item mid-row right-col" id="item6">
  <form action"/ttt" method="post">
    <input type="hidden" name="C2" value="X">
    <input type="submit" value="<%= @C2 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item bottom-row left-col" id="item7">
  <form action"/ttt" method="post">
    <input type="hidden" name="A3" value="X">
    <input type="submit" value="<%= @A3 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item bottom-row mid-col" id="item8">
  <form action"/ttt" method="post">
    <input type="hidden" name="B3" value="X">
    <input type="submit" value="<%= @B3 %>" class="ttt-button">
  </form>
</div>

<div class="grid-item bottom-row right-col" id="item9">
  <form action"/ttt" method="post">
    <input type="hidden" name="C3" value="X">
    <input type="submit" value="<%= @C3 %>" class="ttt-button">
  </form>
</div>
</div>

<div class="button-bar">
  <form action"/ttt" method="post" class="button-bar-button">
    <input type="hidden" name="new_easy" value="reset">
    <input type="submit" value="New Easy Game">
  </form>
    <form action"/ttt" method="post" class="button-bar-button">
    <input type="hidden" name="new_hard" value="reset">
    <input type="submit" value="New Hard Game">
  </form>
</div>



<h3><%= @message %></h3>